<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ajax Basics</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- css files -->
    <link
      href="../public/css/slate-bootstrap.min.css"
      type="text/css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container my-3">
      <button class="btn btn-outline-secondary">Click me to get data!</button>
      <input type="text" name="name" class="form-control" />
      <div id="test" class="lead my-2"></div>
    </div>
    <!-- js scripts -->
    <script src="../public/js/jquery-3.5.1.js"></script>
    <script src="../public/js/popper.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(() => {
        $("input").keyup(() => {
          let name = $("input").val();
          $.post(
            "suggestions.php",
            {
              suggestion: name,
            },
            (data, status) => {
              $("#test").html(data);
            }
          );
        });

        $("button").click(() => {
          $.get("test.txt", (data, status) => {
            $("#test").html(data);
            alert(status);
          });
        });
      });
    </script>
  </body>
</html>
