<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ajax Basics</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- css files -->
    <link
      href="../public/css/slate-bootstrap.min.css"
      type="text/css"
      rel="stylesheet"
    />
    <style></style>
  </head>
  <body>
    <div class="container">
      <div id="test">
        <p>This is the first content</p>
      </div>
      <button id="btn">Click to Change</button>
    </div>
    <!-- js scripts -->
    <script src="../public/js/jquery-3.5.1.js"></script>
    <script src="../public/js/popper.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script>
      console.log("it is working!");
    </script>
    <script>
      $(document).ready(function () {
        $("#btn").click(function () {
          $("#test").load(
            "data.txt",
            {
              Name: "Ahor",
              Email: "ahorisaac.ai@gmail.com",
            },
            function () {
              alert("Hi There!");
            }
          );
        });
      });
    </script>
  </body>
</html>
